.footer {
  margin: 100px 200px 20px 200px;

  @media (max-width: 680px) {
    margin: 50px 30px;
  }
  .top {
    display: flex;
    gap: 50px;

    @media (max-width: 680px) {
      flex-direction: column;
      .item:first-child {
        display: none;
      }
    }

    .item {
      flex: 1;
      display: flex;
      flex-direction: column;
      gap: 10px;
      text-align: justify;
      font-size: 14px;

      h1 {
        font-size: 18px;
        font-weight: 500;
        color: #555;
      }

      span {
        color: gray;
      }
      .contactInfo {
        margin-bottom: 15px;
        .itemContact {
          margin-bottom: 15px;
          margin-top: 10px;
          display: flex;
          align-items: center;
        }
      }
    }
  }

  .bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;

    @media (max-width: 680px) {
      flex-direction: column;
    }
    .left {
      display: flex;
      align-items: center;

      .logo {
        color: #689ef5;
        font-weight: bold;
        font-size: 22px;
      }

      .copyright {
        margin-left: 20px;
        font-size: 13px;
        color: gray;
      }
    }
    .right {
      img {
        height: 50px;

        @media (max-width: 680px) {
          width: 100%;
        }
      }
    }
  }
}
